<div class="mycontainer portcontrolcontainer">
    <!--标题-->
    <div class="mytitle">
        <div class="mytitletext">楼层</div>
        <div class="mybtn-group">
            <button class="mybtn myclose" title="关闭" data-dojo-attach-event="onclick:close"><span class="fa fa-times"></span></button>
        </div>
    </div>
    <!--内容-->
    <div class="mybody">
        <div class="mycontent">
            <div id="" class="portcontrolitem" data-dojo-attach-event="onclick:changeZindex">
                <div class="pcbtngroup">
                    <button id="floorone" class="fcbtn" data-dojo-attach-event="onclick:addfloor1">F1</button>
                    <button id="floortwo" class="fcbtn" data-dojo-attach-event="onclick:addfloor2">F2</button>
                </div>
            </div>
        </div>
    </div>
</div>

