<div class="mycontainer meaturecontainer">
    <!--标题-->
    <div class="mytitle"  data-dojo-attach-event="onclick:changeZindex">
        <div class="mytitletext"><span class="fa fa-tags"></span>测量</div>
        <div class="mybtn-group">
            <button class="mybtn mymin" title="最小化" data-dojo-attach-event="onclick:min_max"><span class="fa fa-minus"></span></button>
            <button class="mybtn myclose" title="关闭" data-dojo-attach-event="onclick:close"><span class="fa fa-times"></span></button>
        </div>
    </div>
    <!--内容-->
    <div class="mybody">
        <div class="mycontent">
            <div id="measure" class="meatureitem"></div>
        </div>
    </div>
</div>

