<html>
<head>
    <script language="javascript">
        function print(){
            var a=myform.content.value;
            alert(a);
        }
    </script>
</head>
<body>
<form class="form-horizontal" name="myform" method="post" action="">
    <div class="form-group">
        <label  class="col-sm-2 control-label">发送用户ID</label>
        <div class="col-sm-5">
            <input type="text" name="content"class="form-control" id="content" placeholder="请输入推送消息的用户">
        </div>
        <div class="col-sm-5">
            <button type="submit" class="btn btn-primary">确认</button>
        </div>
    </div>
</form>
</body>
</html